<div class="page-container">
  <div class="scroll-container">
    <h3 class="title">{{ 'route.trip' | translate }}</h3>
    <div class="header-content d-flex justify-content-between align-items-center">
      <mat-form-field appearance="outline" class="default-input h mb-0" [floatLabel]="'always'">
        <mat-label>{{ 'departure_date' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event.value)" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <a mat-raised-button class="ml-auto" color="primary" routerLink="create">
        <mat-icon>add</mat-icon>
        <span>{{ 'actions.create' | translate }}</span>
      </a>
    </div>
    <div class="table-container content-scroll">
      <table class="table-custom mb-0">
        <thead>
          <tr>
            <th scope="col">{{ 'n.o' | translate }}</th>
            <th scope="col">{{ 'bus' | translate }}</th>
            <th scope="col">{{ 'schedule' | translate }}</th>
            <th scope="col">{{ 'departure_date' | translate }}</th>
            <th scope="col">{{ 'price_per_seat' | translate }}</th>
            <th scope="col">{{ 'action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (item of trips(); track item._id; let i = $index) {
            <tr>
              <td>{{ i + 1 + (params.page - 1) * params.limit }}</td>
              <td>
                @if (item.bus) {
                  {{ item.bus.model_name }} ({{ item.bus.plate_number }})
                }
              </td>
              <td>
                @if (item.schedule) {
                  {{ item.schedule.from }} &rarr; {{ item.schedule.to }} ({{
                    item.schedule.departure_time | time
                  }}
                  &rarr; {{ item.schedule.arrival_time | time }})
                }
              </td>
              <td>{{ item.departure_date | date: 'dd/MM/yyyy' }}</td>
              <td>{{ item.price_per_seat | currency }}</td>
              <td>
                <a mat-icon-button color="primary" [routerLink]="['update', item._id]"
                  ><mat-icon>edit</mat-icon></a
                >
                <button
                  appConfirmMessage
                  [message]="'delete_question' | translate"
                  [title]="'delete_information' | translate"
                  (confirmEmitter)="onDelete(item._id!)"
                  mat-icon-button
                  color="warn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <mat-paginator
        [length]="total()"
        [pageSize]="params.limit"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page"
        (page)="onPageChange($event)"
      />
    </div>
  </div>
</div>
