<div class="page-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <app-summary-card
          [title]="'Total Users'"
          [value]="100"
          [icon]="'people'"
          [iconBgColor]="'#eff6ff'"
          [iconColor]="'#3b82f6'"
        ></app-summary-card>
      </div>
      <div class="col-lg-4">
        <app-summary-card
          [title]="'Total Users'"
          [value]="100"
          [icon]="'people'"
          [iconBgColor]="'#eff6ff'"
          [iconColor]="'#3b82f6'"
        ></app-summary-card>
      </div>
      <div class="col-lg-4">
        <app-summary-card
          [title]="'Total Users'"
          [value]="100"
          [icon]="'people'"
          [iconBgColor]="'#eff6ff'"
          [iconColor]="'#3b82f6'"
        ></app-summary-card>
      </div>
    </div>
  </div>
</div>
