<div class="page-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <app-summary-card
          [title]="'total_user' | translate"
          [value]="summaryData().userCount"
          [icon]="'people'"
          [iconBgColor]="'#eff6ff'"
          [iconColor]="'#3b82f6'"
        ></app-summary-card>
      </div>
      <div class="col-lg-4">
        <app-summary-card
          [title]="'total_client_user' | translate"
          [value]="summaryData().clientUser"
          [icon]="'people'"
          [iconBgColor]="'#99d98c'"
          [iconColor]="'#386641'"
        ></app-summary-card>
      </div>
      <div class="col-lg-4">
        <app-summary-card
          [title]="'total_company' | translate"
          [value]="summaryData().companyCount"
          [icon]="'business'"
          [iconBgColor]="'#e0aaff'"
          [iconColor]="'#5a189a'"
        ></app-summary-card>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-lg-8">
        <app-yearly-commission-line-chart
          [chartData]="yearlyCommission()"
        ></app-yearly-commission-line-chart>
      </div>
      <div class="col-lg-4">
        <app-company-comparison-doughnut
          [chartData]="companyComparison()"
        ></app-company-comparison-doughnut>
      </div>
    </div>
  </div>
</div>
