<div class="page-container">
  <div class="container-fluid">
    <!-- Changed mb-2 to mb-4 or mb-5 -->
    <div class="row">
      <div class="col-lg-4">
        <app-summary-card
          [title]="'total_bus' | translate"
          [value]="dashboardData().busCount"
          [icon]="'directions_bus'"
          [iconBgColor]="'#eff6ff'"
          [iconColor]="'#3b82f6'"
        ></app-summary-card>
      </div>
      <div class="col-lg-4">
        <app-summary-card
          [title]="'total_station' | translate"
          [value]="dashboardData().stationCount"
          [icon]="'location_on'"
          [iconBgColor]="'#ffe5ec'"
          [iconColor]="'#fb6f92'"
        ></app-summary-card>
      </div>
      <div class="col-lg-4">
        <app-summary-card
          [title]="'total_trip' | translate"
          [value]="dashboardData().tripCount"
          [icon]="'card_travel'"
          [iconBgColor]="'#d0f4de'"
          [iconColor]="'#058c42'"
        ></app-summary-card>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <app-trend-analytical-chart
          [chartData]="trendAnalyticalData()"
        ></app-trend-analytical-chart>
      </div>
      <div class="col-lg-4">
        <app-booking-status-chart></app-booking-status-chart>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <app-top-booked-destinations
          [chartData]="topPerformanceDestination()"
        ></app-top-booked-destinations>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-container content-scroll">
          <h4 class="title">{{ 'five_recent_bookings' | translate }}</h4>
          <table class="table-custom mb-0">
            <thead>
              <tr>
                <th scope="col">{{ 'n.o' | translate }}</th>
                <th scope="col">{{ 'passenger' | translate }}</th>
                <th scope="col">{{ 'booked_seats' | translate }}</th>
                <th scope="col">{{ 'destination' | translate }}</th>
                <th scope="col">{{ 'departure_time' | translate }}</th>
                <th scope="col">{{ 'arrival_time' | translate }}</th>
                <th scope="col">{{ 'total_price' | translate }}</th>
                <th scope="col">{{ 'status' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @for (item of fiveRecentsBooking(); track $index) {
                <tr>
                  <td>{{ $index + 1 }}</td>
                  <td>{{ item.user_info.name }}</td>
                  <td>
                    @for (st of item.booked_seats; track $index) {
                      <span>{{ st }}</span>
                      <span>{{ $last ? '' : ',' }}</span>
                    }
                  </td>
                  <td>
                    {{ item.trip.schedule.from.name_kh }} ➔ {{ item.trip.schedule.to.name_kh }}
                  </td>
                  <td>{{ item.trip.schedule.departure_time }}</td>
                  <td>{{ item.trip.schedule.arrival_time }}</td>
                  <td>{{ item.total_price }}</td>
                  <td>{{ item.status }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
