@font-face {
  font-family: 'KhReg';
  src: url('../assets/fonts/Siemreap-Regular.ttf');
}

@font-face {
  font-family: 'KhBold';
  src: url('../assets/fonts/Siemreap-Bold.ttf');
}

@font-face {
  font-family: 'EnReg';
  src: url('../assets/fonts/SofiaSans-Regular.ttf');
}

@font-face {
  font-family: 'EnBold';
  src: url('../assets/fonts/SofiaSans-Bold.ttf');
}
