.mat-snack-bar-container {
  &.custom-snack-bar-content {
    &.error {
      background-color: crimson;
      color: white;
      .mat-simple-snack-bar-content {
        font-family: 'KhmerOSBattambang' !important;
      }
      .mat-simple-snackbar-action {
        color: white !important;
      }
    }
    .mat-simple-snack-bar-content {
      font-family: 'KhmerOSBattambang' !important;
    }
    .mat-simple-snackbar-action {
      color: white !important;
    }
  }
}
