$default-font-size: 15px;
$default-border-radius: 10px;
$toolbar-height: 70px;
$menu-width: 270px;
$default-input-height: 50px;

// default-color
$color-primary: #257cff;
$color-gray: #72777a;
$color-accent: #ffb200;
$color-danger: #d84040;
$color-white: #ffffff;
$color-success: #399918;
$color-black: #09122c;
$color-light-gray: #ffffffda;

// status colors
$status-equal: #b5d3ff;
$status-excess: #aaffb0;
$status-deficit: #ffb4ad;

// responsive
$laptop-screen: 1350px;
