@if (
  control &&
  control.invalid &&
  (control.touched || control.dirty) &&
  control.errors &&
  (control.errors | keyvalue).length > 0
) {
  @let firstError = (control.errors | keyvalue)[0];
  <mat-error>
    @switch (firstError.key) {
      @case ('required') {
        {{ 'msg.required' | translate }}
      }
      @case ('email') {
        {{ 'msg.email' | translate }}
      }
      @case ('min') {
        {{ 'msg.invalid_min_value' | translate: { min: control.errors['min']?.min } }}
      }
      @case ('max') {
        {{ 'msg.invalid_max_value' | translate: { max: control.errors['max']?.max } }}
      }
      @case ('minlength') {
        {{
          'msg.invalid_min_length' | translate: { min: control.errors['minlength']?.requiredLength }
        }}
      }
      @case ('maxlength') {
        {{
          'msg.invalid_max_length' | translate: { max: control.errors['maxlength']?.requiredLength }
        }}
      }
      @default {
        {{ firstError.key }}
      }
    }
  </mat-error>
} @else {
  <ng-content></ng-content>
}
