<div class="page-container">
  <div class="default-card">
    <div class="form-header">
      <h3 class="title">{{ '_add' | translate: { param: ('company' | translate) } }}</h3>
    </div>
    <div class="content">
      <div class="row mb-4">
        <div class="col-lg-2 d-flex align-items-center">
          <div class="image-container">
            <input
              type="file"
              style="display: none"
              #fileInput
              (change)="onFileSelected($event)"
              accept="image/*"
            />
            <img [src]="image | imgUrl: '/assets/imgs/company.png'" alt="" />
            <button mat-icon-button class="edit-btn" (click)="fileInput.click()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-lg-10">
          <form class="form" [formGroup]="form">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <app-form-helper [label]="'name' | translate">
                    <mat-form-field appearance="outline" class="default-input full-width">
                      <input type="text" matInput [formControl]="form.controls.name" />
                    </mat-form-field>
                  </app-form-helper>
                </div>
                <div class="col-lg-4">
                  <app-form-helper [label]="'owner' | translate">
                    <mat-form-field appearance="outline" class="default-input full-width">
                      <mat-select [formControl]="form.controls.owner">
                        @for (user of users; track user._id) {
                          <mat-option [value]="user._id">
                            {{ user.full_name || user.username }}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </app-form-helper>
                </div>
                <div class="col-lg-4">
                  <app-form-helper [label]="'commission_fee' | translate">
                    <mat-form-field appearance="outline" class="default-input full-width">
                      <input type="number" matInput [formControl]="form.controls.commission_rate" />
                    </mat-form-field>
                  </app-form-helper>
                </div>
                <div class="col-lg-4">
                  <app-form-helper [label]="'color' | translate">
                    <mat-form-field appearance="outline" class="default-input full-width">
                      <input
                        type="color"
                        name=""
                        id=""
                        matInput
                        [formControl]="form.controls.color"
                      />
                    </mat-form-field>
                  </app-form-helper>
                </div>
                <div class="col-lg-4">
                  <app-form-helper [label]="'status' | translate">
                    <mat-form-field appearance="outline" class="default-input full-width">
                      <mat-select [formControl]="form.controls.is_active">
                        <mat-option [value]="true">{{ 'active' | translate }}</mat-option>
                        <mat-option [value]="false">{{ 'inactive' | translate }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </app-form-helper>
                </div>
                <div class="col-lg-4">
                  <mat-label>KHQR</mat-label>
                  <div class="khqr-box">
                    <input
                      type="file"
                      style="display: none"
                      #fileInputKhqr
                      (change)="onKhqrSelected($event)"
                      accept="image/*"
                    />
                    @if (khqrUrl !== '') {
                      <img [src]="khqrUrl" alt="" />
                      <button mat-icon-button class="edit-btn" (click)="fileInputKhqr.click()">
                        <mat-icon>edit</mat-icon>
                      </button>
                    } @else {
                      <button mat-icon-button class="add-btn" (click)="fileInputKhqr.click()">
                        <mat-icon>add_a_photo</mat-icon>
                      </button>
                    }
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-center gap-2">
        <a
          type="button"
          mat-stroked-button
          color="primary"
          [routerLink]="updateId !== '' ? '../../' : '../'"
        >
          {{ 'actions.cancel' | translate }}
        </a>
        <button type="button" mat-flat-button color="primary" (click)="onSave()">
          <mat-icon>save</mat-icon>
          {{ 'actions.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
