<div class="chart-card">
  <div class="chart-header d-flex align-items-center gap-2">
    <h4 class="title">{{ 'yearly_commission' | translate }}</h4>
    <mat-form-field appearance="outline" class="default-input no-sub" [floatLabel]="'always'">
      <mat-label>{{ 'year' | translate }}</mat-label>
      <mat-select (selectionChange)="onYearChange($event)">
        @for (item of years; track $index) {
          <mat-option [value]="item">{{ item }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="chart-body">
    <canvas
      id="lineChart"
      baseChart
      [data]="lineChartData"
      [options]="lineChartOption"
      [type]="'line'"
    >
    </canvas>
  </div>
</div>
