<div class="chart-card">
  <div class="chart-header d-flex align-items-center">
    <h4 class="title">{{ 'yearly_commission' | translate }}</h4>
    <app-form-helper [label]="'year' | translate">
      <mat-form-field appearance="outline" class="default-input no-sub">
        <mat-select>
          @for (item of years; track $index) {
            <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </app-form-helper>
  </div>
  <div class="chart-body">
    <canvas
      id="lineChart"
      baseChart
      [data]="lineChartData"
      [options]="lineChartOption"
      [type]="'line'"
    >
    </canvas>
  </div>
</div>
