<div class="page-container">
  <div class="scroll-container">
    <h3 class="title">{{ 'route.bus' | translate }}</h3>
    <div class="header-content d-flex justify-content-between align-items-center">
      <mat-form-field appearance="outline" class="default-input h mb-0" [floatLabel]="'always'">
        <mat-label>Search</mat-label>
        <input type="text" matInput (keyup)="onSearch($event)" />
      </mat-form-field>
      <button mat-flat-button type="button" class="ml-auto" color="primary" (click)="onAddBus()">
        <mat-icon>create</mat-icon>
        <span>{{ 'actions.create' | translate }}</span>
      </button>
    </div>
    <div class="table-container content-scroll">
      <table class="table-custom mb-0">
        <thead>
          <tr>
            <th>{{ 'n.o' | translate }}</th>
            <th>{{ 'model_name' | translate }}</th>
            <th>{{ 'plate_number' | translate }}</th>
            <th>{{ 'type' | translate }}</th>
            <th>{{ 'action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (item of buses(); track $index) {
            <tr>
              <td>{{ $index + 1 + (queryParams.page - 1) * queryParams.limit }}</td>
              <td>{{ item.model_name }}</td>
              <td>{{ item.plate_number }}</td>
              <td>{{ item.type }}</td>
              <td>
                <button mat-icon-button color="primary" (click)="onEdit(item._id!)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  appConfirmMessage
                  [message]="'delete_question' | translate"
                  [title]="'delete_information' | translate"
                  (confirmEmitter)="onDelete(item._id!)"
                  mat-icon-button
                  color="warn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <mat-paginator
        [length]="total()"
        [pageSize]="queryParams.limit"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page"
        (page)="onPageChange($event)"
      />
    </div>
  </div>
</div>
